*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
@font-face {
    font-family: fp;
    src: url();
    font-size: ;
    font-weight: ;
}
body{
    overflow-x: hidden;
}
.container{
    width: 95%;
    margin: 0 auto;
}
header{
    position: relative;
    padding: 10px;
}
header .header-top{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
header .header-top .header-div-1 img{
    width: 200px;
    height: 70px;
}
header .header-top .header-div-2 button{
    border: 1px solid #000;
    padding: 5px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 40px;
}
header .header-top .header-div-2 button:hover{
    background-color: #000;
    transition: all linear .2s;
    color: #fff;
}
header .header-nav{
    height: 0;
    overflow:hidden;
}
.m{
    height: 300px;
    transition: all linear .2s;
}
header .header-div-3 .header-div-3-relative .nav{
    visibility: hidden;i
}
header .header-nav nav > *{
    color: #000;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}
header .header-nav nav > a:hover{
    color: rgb(152, 152, 152);
}
main .section-one{
    margin-top: 50px;
    margin-bottom: 50px;
}
main .section-one .img{
    background-image: url();
    width: 100%;
    height: 500px;
    border: 1px solid black;
}
main .section-one .img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main .section-one .img > *{
    margin: 20px 0;
}
main .section-one > .img h1{
    font-size: 35px;
}
main .section-one .img > button{
    padding: 15px 30px;
    background-color: #fff;
    border: 1px solid black;
    color: #000;
}
footer .footer-tab{
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0px 0px 2px 0px #000;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
}
main .section-two{
    padding: 30px 0;
}
main .section-two .prod{
    border: 1px solid black;
    padding: 10px;
    margin: 30px 0;
}
main .section-two .prod-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
}
main .section-two .prod-flex .prod{
    margin: 0 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #000;
}
main .section-two .prod-flex .prod:hover{
    box-shadow: 0px 0px 5px 0px #000;
    transition: box-shadow linear .3s;
}
main .section-two .prod .img{
    display: flex;
    justify-content: center;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.prc > *{
    margin: 0 10px;
}
main .section-two .p1{
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}
main .section-two .prod .prod-cont{
    text-align: center;
    justify-content: center;
    flex-wrap:wrap;
}
main .section-two .prod .prod-cont button{
    margin: 10px 0;
    padding: 10px;
    border:none;
}
main .section-two .prod .prod-cont .btn-2{
    padding: 15px 30px;
}
main .section-two .prod .prod-cont .btn-1{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2px;
}
main .section-two .prod .prod-cont p{
    margin: 10px 0;
}
main .section-two .prod img{
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
}
footer .footer-tab div{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
}
footer .footer-tab #i-last::after{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #000;
    position: absolute;
    z-index: 10;
    top: -10px;
    right: 20px;
    opacity: 0;
}
main .section-three{
    padding: 30px 0;
}
main .section-five{
    position: fixed;
    left: 0;
    display: flex;
    top: 250px;
    background-color: #fff;
}
main .section-five i{
    width: 50px;
    height: 50px;
    margin: 10px 0;
    border: 1px solid black;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .section-five i:hover{
    width: 60px;
    transition: width ease-in-out .5s;
}
main .section-three div{
    display: flex;
}
main .section-three div img{
    object-fit: cover;
}
main .section-three .div-1,
main .section-three .div-3{
    justify-content: right;
}
main .section-three .div-2{
    justify-content: left;
}
main .section-three .div-1 img,
main .section-three .div-2 img,
main .section-three .div-3 img{
    width: 208px;
    height: 200px;
    border: 1px solid black;
}
footer .footer-container{
    padding: 70px 0;
    background-color: #f5f5f5;
}
footer .footer-container > *{
    margin: 15px 0;
}
footer .footer-container > a{
    color: black;
}
main .section-three .btn-group{
    margin: 10px 0;
}
main .section-three .btn-group a{
    margin: 5px 0;
}
main .section-two .btn-group{
    display: flex;
    justify-content: center;
}
main .section-two .btn-group button{
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    margin-top: 10px;
    width: 200px;
}
main .section-two .btn-group button:hover{
    background-color: #add8ad;
}