@media screen and (min-width: 600px){
    header .h-ii{
        display: none;
    }
    header .h-iii{
        display: block;
    }
    header .h-iii .h-iii-div{
        margin-top: 65px;
        margin-bottom: 0;
    }
    header .h-i nav{
        display: flex;
        margin-top: 30px;
    }
    header .h-iii label{
        display: flex;
        align-items: center;
    }
    header .h-iii label input{
        padding: 10px;
    }
    header .h-iii label i{
        margin-right: 10px;
    }
}
@media screen and (min-width: 600px){
    main section .prod-flex{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        width: 600px;
    }
    main section .prod-cont .prod img{
        width: 200px;
        height: 200px;
        margin: 0 25px;
        transition: all linear .3s;
    }
}
@media screen and (min-width: 768px){
    main section .prod-flex{
        width: 100%;
    }
}